<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>权限分配</cite></a>
        <a><cite>角色管理</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">角色管理</div>
        <div class="layui-card-body">
            <!-- 查询 -->
            <div class="layui-row" style="margin-bottom:10px">
                <div class="layui-col-md3">
                    <button type="button" class="layui-btn" id="add-btn">新增</button>
                </div>
            </div>
            <div class="layui-row" style="margin-bottom: 10px;">
                <form class="layui-form" lay-filter="formSearch">
                    <div class="layui-col-md3">
                        <div class="layui-inline">
                            <label class="layui-form-label"
                                   style="width: 75px; text-align: left; padding-left: 0;">角色名称:</label>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="name" placeholder="角色名称" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="layui-btn" id="search-btn">搜索</button>
                </form>
            </div>
            <!-- 表格 -->
            <table id="role-manage-table-parseData" lay-filter="role-manage-table-parseData"></table>

            <!-- 右侧按钮 -->
            <script type="text/html" id="test-table-operate-barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>
</div>


<!-- 编辑按钮弹出框 -->
<script type="text/html" id="edit">
    <form class="layui-form" lay-filter="formEdit">
        <div class="layui-row">
            <div class="layui-col-md8 layui-col-md-offset1">
                <div class="layui-form-item" style="margin-top: 10px;">
                    <label class="layui-form-label">角色名称:</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" required lay-verify="required" placeholder="请输入角色名称"
                               autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row" style="display: none;">
            <div class="layui-col-md8 layui-col-md-offset1">
                <div class="layui-form-item" style="margin-top: 10px;">
                    <label class="layui-form-label">id:</label>
                    <div class="layui-input-block">
                        <input type="text" name="uuid" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-form-item">
                <div class="layui-col-md8 layui-col-md-offset4">
                    <div class="layui-form-item">
                        <button type="button" class="layui-btn" onclick="editShop()">确认</button>
                        <button type="button" class="layui-btn layui-btn-primary" onclick="closeLayer()">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>
<!-- 新增按钮弹出框 -->
<script type="text/html" id="add">
    <form class="layui-form" lay-filter="formAdd">
        <div class="layui-row">
            <div class="layui-col-md8 layui-col-md-offset1">
                <div class="layui-form-item" style="margin-top: 10px;">
                    <label class="layui-form-label">角色名称:</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" required lay-verify="required" placeholder="请输入角色名称"
                               autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-form-item">
                <div class="layui-col-md8 layui-col-md-offset4">
                    <div class="layui-form-item">
                        <button type="button" class="layui-btn" onclick="addShop()">新增</button>
                        <button type="button" class="layui-btn layui-btn-primary closeLayer" onclick="closeLayer()">取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>


<script>
    layui.use(['admin', 'table', 'form'], function () {
        var admin = layui.admin
            , table = layui.table
            , form = layui.form
            , baseUrl = layui.setter.baseUrl
            , $ = layui.$;

        // 表格渲染
        var tableIns = table.render({
            elem: '#role-manage-table-parseData'
            // 请求地址
            , url: baseUrl + 'role/listByPage'
            , toolbar: true
            , title: '角色管理表'
            , cellMinWidth: 120
            // 是否开启加载loding
            , loading: true
            // 数据渲染规定
            , cols: [[
                {field: 'uuid', title: '角色编号', width: 110,}
                , {field: 'name', title: '角色名称'}
                , {title: '操作', toolbar: '#test-table-operate-barDemo', width: 200}
            ]]
            // 开启分页
            , page: true
            , request: {
                pageName: 'page',
                limitName: 'rows'
            }
            , response: {
                // statusName: 'code',
                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            }
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.rows //解析数据列表
                };
            }
        });

        // 表格按钮功能设置
        table.on('tool(role-manage-table-parseData)', function (obj) {
            var data = obj.data;
            // 删除按钮弹窗
            if (obj.event === 'del') {
                layer.confirm('是否删除该数据,删除后不可恢复!', {title: '删除'}, function (index) {
                    // 获取该数据id
                    // 发送登录请求
                    admin.req({
                        url: baseUrl + 'role?id=' + data.uuid,
                        type: 'delete',
                        // data: {
                        //     id: data.uuid
                        // },
                        done: function (res) {
                            layer.open({
                                title: '删除'
                                , content: res.msg
                            });
                            table.reload('role-manage-table-parseData');
                        }
                    })
                });
            }
            // 编辑按钮弹窗
            if (obj.event === 'edit') {
                // 请求数据
                admin.req({
                    url: baseUrl + 'role/selectone',
                    data: {
                        id: data.uuid
                    },
                    done: function (res) {
                        res = res.data.rows[0];
                        // console.log(res);
                        form.val("formEdit", res);
                    }
                })
                layer.open({
                    title: "编辑",
                    type: 1,
                    move: false,
                    area: '500px',
                    content: $('#edit').html()
                });

            }
        });
        // 新增按钮弹出框
        $('#add-btn').click(function () {
            layer.closeAll();
            layer.open({
                title: "新增",
                type: 1,
                move: false,
                area: '500px',
                content: $('#add').html()
            });
        })
        // 搜索功能
        $('#search-btn').click(function () {
            var data = form.val('formSearch');
            tableIns.reload({
                where: data
            })
        })
    });

    // 关闭弹框
    function closeLayer() {
        layer.closeAll();
    }


    // 新增功能提交
    function addShop() {
        var data = layui.form.val("formAdd");
        layui.admin.req({
            url: layui.setter.baseUrl + 'role/add',
            type: 'post',
            data: data,
            done: function (res) {
                layer.closeAll();
                layer.open({
                    title: '新增'
                    , content: res.msg
                });
                layui.table.reload('role-manage-table-parseData');
            }
        })
    }


    // 编辑功能提交
    function editShop() {
        var data = layui.form.val("formEdit");
        layui.admin.req({
            url: layui.setter.baseUrl + 'role/update',
            type: 'post',
            data: {
                name: data.name,
                uuid: data.uuid
            },
            done: function (res) {
                layer.closeAll();
                layer.open({
                    title: '编辑'
                    , content: res.msg
                });
                layui.table.reload('role-manage-table-parseData');
            }
        })
    }
</script>
<style>
    .layui-col-md3,
    #reset-btn,
    #search-btn {
        margin-top: 10px;
    }
</style>