<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>库存管理</cite></a>
        <a><cite>库存查询</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">
            库存查询
        </div>
        <div class="layui-card-body">
            <div class="layui-row" style="margin-bottom: 10px;">
                <form class="layui-form" lay-filter="formSearch">
                    <div class="layui-col-md3">
                        <div class="layui-inline">
                            <label class="layui-form-label"
                                style="width: 75px; text-align: left; padding-left: 0;">仓库:</label>
                            <div class="layui-input-inline" style="width: 200px; ">
                                <select name="storeName" id="store" lay-verify="">
                                    <option value="">---请选择仓库---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-inline">
                            <label class="layui-form-label"
                                style="width: 75px; text-align: left; padding-left: 0;">商品:</label>
                            <div class="layui-input-inline" style="width: 200px; ">
                                <select name="goodsName" id="goods" lay-verify="" lay-search="">
                                    <option value="">---请选择商品---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="layui-btn" id="search-btn">搜索</button>
                    <button type="reset" class="layui-btn" id="reset-btn">重置</button>
                </form>
            </div>
            <!-- 表格 -->
            <table id="list-table-parseData" lay-filter="list-table-parseData"></table>
        </div>
    </div>
</div>



<script>
    layui.use(['admin', 'table', 'form', 'laydate'], function () {
        var admin = layui.admin
            , table = layui.table
            , form = layui.form
            , baseUrl = layui.setter.baseUrl
            , $ = layui.$
            , laydate = layui.laydate;

        // 查询仓库列表
        admin.req({
            url: baseUrl + 'storedetail/storeList',
            success: function (res) {
                $.each(res.data.rows, function (i, item) {
                    $('#store').append(`<option value="${item.uuid}">${item.storeName}</option>`)
                })
                form.render(null, 'formSearch');
            }
        })
        // 查询商品列表
        admin.req({
            url: baseUrl + 'storedetail/goodsList',
            success: function (res) {
                $.each(res.data.rows, function (i, item) {
                    $('#goods').append(`<option value="${item.uuid}">${item.goodsName}</option>`)
                })
                form.render(null, 'formSearch');
            }
        })


        // 表格渲染        
        form.render(null, 'formSearch')
        var tableIns = table.render({
            elem: '#list-table-parseData'
            // 请求地址
            , url: baseUrl + 'storedetail'
            , toolbar: true
            , title: '商品表'
            , cellMinWidth: 120
            // 是否开启加载loding
            , loading: true
            // 数据渲染规定
            , cols: [[
                { field: 'uuid', title: '仓库编号', width: 110 }
                , { field: 'storeName', title: '仓库名称' }
                , { field: 'goodsName', title: '商品名称' }
                , { field: 'num', title: '数量' }

            ]]
            // 开启分页
            , page: true
            , request: {
                pageName: 'page',
                limitName: 'rows'
            }
            , response: {
                // statusName: 'code',
                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            }
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.rows //解析数据列表
                };
            }
        });

        // 搜索功能
        $('#search-btn').click(function () {
            var data = form.val('formSearch');
            console.log(data);
            tableIns.reload({
                where: data
            })
        })
    });

    // 关闭弹框
    function closeLayer() {
        layer.closeAll();
    }

</script>

<style>
    .layui-col-md3,
    .layui-col-md6,
    #reset-btn,
    #search-btn {
        margin-top: 10px;
    }
</style>